# dependencies check
node_modules
package-lock.json

# build output
.nyc_output
lib
/**/test/output
/generated-docs
/out
**/DevBuild.txt
coverage

# rush-specific
/common/temp
package-deps.json
package-dep_build.json
/**/.rush
*.build.log
*.build.error.log
package-lock.json
# ignnore change logs for now
**/changelog.json
**/changelog.md

# docs
/public

# trash
*.bak
*.orig
